//COLORS
$bg-gray: #f9f9f9;
$white: #fff;
$blue: #017dfb;
$light-blue: #0dcfff;
$color-h: #697899;
$dark-grey: #c7c7c7;
$bordergrey: #e9e9e9;
$label-border: #1989fb;

//FONTS
$font-regular: "Roboto-Regular", Arial, sans-serif;
$font-bold: "Roboto-Bold", Arial, sans-serif;
$font-black: "Roboto-Black", Arial, sans-serif;
$font-street: "Streetwear", Arial, sans-serif;
$font-light: "Roboto-Light", Arial, sans-serif;