@font-face {
  font-family: "Roboto-Light";
  src: url('../../fonts/Roboto/Light/Roboto-Light.ttf') format('truetype');
  src: url('../../fonts/Roboto/Light/Roboto-Light.otf') format('opentype');
  src: url('../../fonts/Roboto/Light/Roboto-Light.woff') format('woff');
  src: url('../../fonts/Roboto/Light/Roboto-Light.eot') format('eot');
}

@font-face {
  font-family: "Roboto-Bold";
  src: url('../../fonts/Roboto/Bold/Roboto-Bold.ttf') format('truetype');
  src: url('../../fonts/Roboto/Bold/Roboto-Bold.otf') format('opentype');
  src: url('../../fonts/Roboto/Bold/Roboto-Bold.woff') format('woff');
  src: url('../../fonts/Roboto/Bold/Roboto-Bold.ttf') format('eot');
}

@font-face {
  font-family: "Roboto-Regular";
  src: url('../../fonts/Roboto/Regular/Roboto-Regular.ttf') format('truetype');
  src: url('../../fonts/Roboto/Regular/Roboto-Regular.otf') format('opentype');
  src: url('../../fonts/Roboto/Regular/Roboto-Regular.woff') format('woff');
  src: url('../../fonts/Roboto/Regular/Roboto-Regular.eot') format('eot');
}

@font-face {
  font-family: "Roboto-Black";
  src: url('../../fonts/Roboto/Black/Roboto-Black.ttf') format('truetype');
  src: url('../../fonts/Roboto/Black/Roboto-Black.otf') format('opentype');
  src: url('../../fonts/Roboto/Black/Roboto-Black.woff') format('woff');
  src: url('../../fonts/Roboto/Black/Roboto-Black.eot') format('eot');
}

@font-face {
  font-family: "Streetwear";
  src: url('../../fonts/Streetwear/Streetwear.ttf') format('truetype');
  src: url('../../fonts/Streetwear/Streetwear.otf') format('opentype');
}