body {
  border: 20px solid $white;
}

.content {
  min-height: calc(100vh - 200px);
}

.wellcome-section {
  background: url("../../images/bg-header.jpg")center no-repeat;
  background-size: cover;
  padding-bottom: 30hv;
  height: 100vh;

   header {
     height: 100px;
     margin-bottom: 20vh;
     .logo {
       height: 30px;
       overflow: hidden;
     }
     #button-menu {
       display: none;
       background-color: transparent;
       background: none;
       border: 1px solid transparent;
       & span {
         display: block;
         width: 24px;
         height: 3px;
         margin-bottom: 3px;
         background-color: $blue;
       }
     }
     .menu-list {
       ul {
         display: flex;
       }
       li {
         margin: 0 10px;
         a {
           @include transition(0.5s);
           font-family: $font-regular;
           opacity: 0.6;
           color: #697899;
           font-size: 16px;
           line-height: 82px;
           padding: 10px;
           border: 1px solid transparent;
           border-radius: 20px;
           &:hover {
             color: $blue;
             box-shadow: 0 0 65px rgba(1, 125, 251, 0.25);
           }
         }
       }

     }
   }

  .nav-bar-hide {
    display: none;
    flex-direction: column;
    align-items: center;
    background: $white;
    position: absolute;
    z-index: 5;
    top: 150px;
    left: 0;
    right: 0;
    li {
      width: 100%;
      text-align: center;
      a {
        @include transition(0.5s);
        display: block;
        line-height: 40px;
        padding: 0 5px;
        font-family: $font-regular;
        color: $light-blue;
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;
        &:hover {
          color: $white;
          background-color: $light-blue;
        }
      }
    }
  }

  .greece {
    max-height: 135px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 45px;
  }
  p {
    font-family: $font-regular;
    color: $blue;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 30px;
  }

  .btn {
    @include transition(0.5s);
    font-family: $font-regular;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: $blue;
    width: 187px;
    height: 51px;
    background-color: $white;
    margin: 0 auto;
    border: none;
    border-radius: 25px;
    outline: none;
    &:hover {
      box-shadow: 0 0 65px rgba(1, 125, 251, 0.25);
      transform: scale(1.1, 1.1);
    }
  }
}